.messaging-page {
    display: flex;
    height: 100vh; /* Adjust this value according to your layout requirements */
}

.chat-list-wrapper,
.chat-wrapper {
    overflow-y: auto;
    height: 100%;
}

.chat-list-wrapper {
    flex: 1;
}

.chat-wrapper {
    flex: 2;
}

.messaging-page-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    background-color: #f8f8f8;
    font-size: 1.5rem;
    color: #666;
}
