.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-container {
    position: relative;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-pic-upload {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.profile-info {
    margin-top: 20px;
}
