.settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.5rem;
    color:#888888;
}

.settings-page::before {
    content: "";
    height: 60vh;
    background-color: #001F2D;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -3vh;
}

.settings-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
}

.settings-input label {
    margin-bottom: 0.5rem;
}

.settings-input input {
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid #888888;
}

button {
    background-color: #007bff;
    color: #333;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #111;
}
